# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [91]:
# Import necessary packages
import pandas as pd
import sqlite3

In [92]:
# Create the database school.sqlite 
conn = sqlite3.connect('school.sqlite')

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [93]:
cur = conn.cursor()

In [94]:
# Your code here
cur.execute("""CREATE TABLE contactInfo (
id INTEGER PRIMARY KEY AUTOINCREMENT,
first_name TEXT,
last_name TEXT,
role TEXT,
telephone_number INTEGER,
street TEXT,
city TEXT,
state TEXT,
zipcode TEXT
)""")

OperationalError: table contactInfo already exists

In [95]:
cur.execute("""pragma table_info ('contactInfo')""").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'first_name', 'TEXT', 0, None, 0),
 (2, 'last_name', 'TEXT', 0, None, 0),
 (3, 'role', 'TEXT', 0, None, 0),
 (4, 'telephone_number', 'INTEGER', 0, None, 0),
 (5, 'street', 'TEXT', 0, None, 0),
 (6, 'city', 'TEXT', 0, None, 0),
 (7, 'state', 'TEXT', 0, None, 0),
 (8, 'zipcode', 'TEXT', 0, None, 0)]

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [ ]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [ ]:
for person in contacts:
    for value in person.values():
        print(value)
    print("\n")

In [ ]:
# Iterate over the contact list and populate the contactInfo table here
values_list = []
for person in contacts:
    for value in person.values():
        values_list.append(value)
    cur.execute("""INSERT INTO contactInfo(first_name, last_name, role, telephone_number, street, 
                    city, state, zipcode) 
                    VALUES (?,?,?,?,?,?,?,?)
                """, (values_list[0], values_list[1], values_list[2], values_list[3], 
                    values_list[4], values_list[5], values_list[6], values_list[-1])) 
    values_list.clear()

**Query the Table to Ensure it is populated**

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [ ]:
# Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [99]:
# Create the grades table
cur.execute("""CREATE TABLE grades (
userId INTEGER NOT NULL,
courseId INTEGER NOT NULL,
grade TEXT,
PRIMARY KEY(userId, courseId) )
""")

In [96]:
cur.execute("""CREATE TABLE cats (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                age INTEGER,
                                breed TEXT )          
            """)

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [81]:
# Find the duplicate entry
cur.execute("""SELECT first_name, COUNT(*) as count FROM contactInfo 
GROUP BY first_name
HAVING count > 1""").fetchall()

[('Jane', 2)]

In [82]:
cur.execute("""SELECT id FROM contactInfo WHERE first_name = 'Jane' """).fetchall()

[(5,), (6,)]

In [83]:
# Delete the duplicate entry
cur.execute("""DELETE FROM contactInfo WHERE id = 5""")

In [84]:
# Check that the duplicate entry was removed
cur.execute("""SELECT first_name, COUNT(*) as count FROM contactInfo 
GROUP BY first_name
HAVING count > 1""").fetchall()

[]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [85]:
cur.execute("""SELECT * FROM contactInfo""").fetchall()

[(1,
  'Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 (2,
  'Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 (3,
  'Linda',
  'Jacobson',
  'staff',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 (4,
  'Andrew',
  'Stepp',
  'student',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 (6,
  'Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (7,
  'Mary',
  'Raines',
  'student',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639'),
 (8,
  'Ed',
  'Lyman',
  'student',
  5179695576,
  '3478 Be Sreet',
  'Lansing',
  'MI',
  '48933')]

In [86]:
# Update Ed's address
cur.execute("""UPDATE contactInfo SET street = '2910 Simpson Avenue York, PA 17403'
WHERE first_name = 'Ed' and last_name = 'Lyman'""")

In [87]:
# Query the database to ensure the change was made
cur.execute("""SELECT * FROM contactInfo WHERE first_name = 'Ed'""").fetchall()

[(8,
  'Ed',
  'Lyman',
  'student',
  5179695576,
  '2910 Simpson Avenue York, PA 17403',
  'Lansing',
  'MI',
  '48933')]

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [88]:
# Your code here
conn.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.